CONFIG_LOCALVERSION="-msm8939"
# CONFIG_LOCALVERSION_AUTO is not set

### Prevent firmware inclusion which might break GPL
# CONFIG_EXTRA_FIRMWARE is not set

### Don't need that much debug atm
CONFIG_DEBUG_DRIVER=n

### Disable various unneeded drivers
CONFIG_DVB_CORE=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_RADIO_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEDIA_TUNER=n
CONFIG_RADIO_ADAPTERS=n

### Enable drivers from msm8916-mainline
CONFIG_LEDS_QCOM_LPG=y
CONFIG_QCOM_MEMSHARE_QMI_SERVICE=m
CONFIG_QCOM_APR=m
CONFIG_QCOM_Q6V5_MSS=m
CONFIG_SND_SOC=y
CONFIG_SND_SOC_QCOM=m
CONFIG_SND_SOC_APQ8016_SBC=m
CONFIG_SND_SOC_QDSP6_Q6VOICE=m
CONFIG_SND_SOC_MSM8916_QDSP6=m
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=m
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=m
CONFIG_SND_SOC_SIMPLE_AMPLIFIER=m
CONFIG_QCOM_FASTRPC=m
CONFIG_RMNET=m
CONFIG_WWAN=y
CONFIG_QCOM_BAM_DMUX=m
CONFIG_RPMSG_WWAN_CTRL=m
CONFIG_INPUT_PM8XXX_VIBRATOR=m
CONFIG_I2C_GPIO=y
CONFIG_I2C_SLAVE=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_WATCHDOG_CORE=y
CONFIG_PM8916_WATCHDOG=y
CONFIG_DRM_MSM=m
CONFIG_DRM_DISPLAY_CONNECTOR=m
CONFIG_DRM_LEGACY=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_FB_SIMPLE=y
CONFIG_VIDEOMODE_HELPERS=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
CONFIG_USB_LED_TRIG=y
CONFIG_LEDS_CLASS_FLASH=m
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_SPM=y
CONFIG_MEMORY=y
CONFIG_HUGETLBFS=y
CONFIG_HUGETLB_PAGE=y

### Enable usual msm8916/msm8939 drivers
CONFIG_TOUCHSCREEN_EDT_FT5X06=m
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_BMC150_ACCEL=m
CONFIG_IIO_ST_ACCEL_3AXIS=m
CONFIG_KXCJK1013=m
CONFIG_QCOM_SPMI_VADC=y
CONFIG_BMG160=m
CONFIG_BMI160_I2C=m
CONFIG_INV_MPU6050_I2C=m
CONFIG_IIO_ST_LSM6DSX=m
CONFIG_CM3323=m
CONFIG_LTR501=m
CONFIG_STK3310=m
CONFIG_TSL2772=m
CONFIG_AK8975=m
CONFIG_BMC150_MAGN_I2C=m
CONFIG_SMB1360=m
CONFIG_SMB1360_DEBUG=n
CONFIG_SND_SOC_AK4375=m
CONFIG_SND_SOC_TFA989X=m

### Add msm8939 devices' drivers
CONFIG_DRM_PANEL_ALCATEL_IDOL3_NT35596=m
CONFIG_DRM_PANEL_ALCATEL_IDOL3_R63315=m
